__pycache__/clustering.cpython-311.pyc
unconstrained_time_taken_lambdas_opti_data.pickle
__pycache__/genSyntheticData.cpython-311.pyc
__pycache__/openRawData.cpython-311.pyc
unconstrained_time_taken_lambdas_opti.png
__pycache__/openRawData.cpython-311.pyc
*.pickle
*.pkl
*.npy
*.pyc