Host foo.cis.jhu.edu
        HostName foo.cis.jhu.edu
        User emata2
Host CIS
        KexAlgorithms +diffie-hellman-group-exchange-sha1
HostName foo.cis.jhu.edu
ControlMaster auto
ControlPath ~/.ssh/control:%h:%p:%r
User emata2
Host canton
HostName canton
ControlMaster auto
ControlPath ~/.ssh/control:%h:%p:%r
Proxyjump CIS
User emata2
Host foo.cis.jhu.edu
        KexAlgorithms +diffie-hellman-group1-sha1
        HostKeyAlgorithms +ssh-rsa
        PubkeyAcceptedAlgorithms +ssh-rsa